{%- liquid
  assign gummies_product = settings.bloomli_routine_upsell_supplement_product
  assign hair_oil_product = settings.bloomli_routine_upsell_addon_product
  assign current_product = product
  assign current_is_supplement = false
  assign current_is_add_on = false

  if current_product != blank
    for product_tag in current_product.tags
      assign normalized_product_tag = product_tag | downcase | strip
      if normalized_product_tag == 'supplement'
        assign current_is_supplement = true
      elsif normalized_product_tag == 'add-on'
        assign current_is_add_on = true
      endif
    endfor
  endif

  assign first_product = gummies_product
  assign second_product = hair_oil_product
  assign first_image = section.settings.product_1_image
  assign second_image = section.settings.product_2_image

  if current_product != blank
    if current_is_add_on
      assign first_product = current_product
      assign second_product = gummies_product
      if hair_oil_product != blank and current_product.id == hair_oil_product.id
        assign first_image = section.settings.product_2_image
      else
        assign first_image = current_product.featured_image
      endif
      assign second_image = section.settings.product_1_image
    elsif current_is_supplement
      assign first_product = current_product
      assign second_product = hair_oil_product
      if gummies_product != blank and current_product.id == gummies_product.id
        assign first_image = section.settings.product_1_image
      else
        assign first_image = current_product.featured_image
      endif
      assign second_image = section.settings.product_2_image
    else
      assign first_product = current_product
      assign second_product = hair_oil_product
      assign first_image = current_product.featured_image
      assign second_image = section.settings.product_2_image
    endif
  endif

  assign first_variant = first_product.selected_or_first_available_variant
  assign second_variant = second_product.selected_or_first_available_variant
  assign first_is_add_on = false
  assign second_is_add_on = false

  if first_product != blank
    for product_tag in first_product.tags
      assign normalized_product_tag = product_tag | downcase | strip
      if normalized_product_tag == 'add-on'
        assign first_is_add_on = true
      endif
    endfor
  endif

  if second_product != blank
    for product_tag in second_product.tags
      assign normalized_product_tag = product_tag | downcase | strip
      if normalized_product_tag == 'add-on'
        assign second_is_add_on = true
      endif
    endfor
  endif

  assign first_step = section.settings.product_1_step
  assign first_title = section.settings.product_1_title
  assign first_description = section.settings.product_1_description
  assign second_step = section.settings.product_2_step
  assign second_title = section.settings.product_2_title
  assign second_description = section.settings.product_2_description

  if first_product != blank and hair_oil_product != blank and first_product.id == hair_oil_product.id
    assign first_step = section.settings.product_2_step
    assign first_title = section.settings.product_2_title | default: first_product.title
    assign first_description = section.settings.product_2_description
  elsif first_product != blank and gummies_product != blank and first_product.id == gummies_product.id
    assign first_title = section.settings.product_1_title | default: first_product.title
  elsif first_product != blank
    assign first_title = first_product.title
    if first_product.description != blank
      assign first_description = first_product.description | strip_html | truncate: 72
    endif
  endif

  if second_product != blank and gummies_product != blank and second_product.id == gummies_product.id
    assign second_step = section.settings.product_1_step
    assign second_title = section.settings.product_1_title | default: second_product.title
    assign second_description = section.settings.product_1_description
  elsif second_product != blank and hair_oil_product != blank and second_product.id == hair_oil_product.id
    assign second_title = section.settings.product_2_title | default: second_product.title
  elsif second_product != blank
    assign second_title = second_product.title
    if second_product.description != blank
      assign second_description = second_product.description | strip_html | truncate: 72
    endif
  endif

  assign first_in_cart = false
  assign second_in_cart = false
  assign cart_has_subscription = false
  assign cart_has_one_time = false
  for item in cart.items
    if first_product != blank and item.product.id == first_product.id
      assign first_in_cart = true
    endif
    if second_product != blank and item.product.id == second_product.id
      assign second_in_cart = true
    endif
    if item.selling_plan_allocation != blank
      assign cart_has_subscription = true
    else
      assign cart_has_one_time = true
    endif
  endfor

  assign active_purchase_type = 'subscription'
  if cart.item_count > 0 and cart_has_subscription == false and cart_has_one_time
    assign active_purchase_type = 'one_time'
  endif

  assign add_both_label = section.settings.add_both_label | default: 'Start My Ritual'
  assign view_routine_label = section.settings.view_routine_label | default: 'View My Ritual'
  assign add_missing_label = section.settings.add_missing_label | default: 'Complete My Ritual'
  assign one_time_label = section.settings.one_time_label_text | default: 'One Time Purchase'
  assign subscription_note_text = section.settings.subscription_note_text | default: 'Matched to your subscription, cancel anytime.'
  assign saving_callout_template = section.settings.saving_callout_text | default: "You're saving $X.XX with Pair & Save"

  assign subscription_discount_pct = settings.bloomli_subscription_discount_pct | default: 15 | plus: 0
  assign add_on_product = nil
  if first_is_add_on
    assign add_on_product = first_product
  elsif second_is_add_on
    assign add_on_product = second_product
  endif
  if add_on_product != nil and add_on_product.metafields.bloomli.bundle_add_on_discount_pct != blank
    assign bundle_discount_pct = add_on_product.metafields.bloomli.bundle_add_on_discount_pct | plus: 0
  elsif settings.bloomli_routine_upsell_addon_discount_pct != blank
    assign bundle_discount_pct = settings.bloomli_routine_upsell_addon_discount_pct | plus: 0
  elsif settings.bloomli_bundle_add_on_discount_pct != blank
    assign bundle_discount_pct = settings.bloomli_bundle_add_on_discount_pct | plus: 0
  else
    assign bundle_discount_pct = 15
  endif
  assign subscription_factor = 100.0 | minus: subscription_discount_pct
  assign bundle_factor = 100.0 | minus: bundle_discount_pct

  assign button_label = add_both_label
  assign first_missing = false
  assign second_missing = false
  if first_product != blank and first_in_cart == false
    assign first_missing = true
  endif
  if second_product != blank and second_in_cart == false
    assign second_missing = true
  endif

  if first_missing and second_missing
    assign button_label = add_both_label
  elsif first_missing
    assign button_label = add_missing_label
  elsif second_missing
    assign button_label = add_missing_label
  else
    assign button_label = view_routine_label
  endif

  assign first_subscription_price = first_variant.price | times: subscription_factor | divided_by: 100.0 | round
  if first_is_add_on
    assign first_subscription_price = first_variant.price | times: subscription_factor | times: bundle_factor | divided_by: 10000.0 | round
  endif
  assign second_subscription_price = second_variant.price | times: subscription_factor | divided_by: 100.0 | round
  if second_is_add_on
    assign second_subscription_price = second_variant.price | times: subscription_factor | times: bundle_factor | divided_by: 10000.0 | round
  endif

  assign first_bundle_price = first_variant.price
  if first_is_add_on
    assign first_bundle_price = first_variant.price | times: bundle_factor | divided_by: 100.0 | round
  endif
  assign second_bundle_price = second_variant.price
  if second_is_add_on
    assign second_bundle_price = second_variant.price | times: bundle_factor | divided_by: 100.0 | round
  endif

  assign primary_price_cents = 0
  assign bundle_price_cents = 0
  if first_missing
    assign bundle_price_cents = bundle_price_cents | plus: first_bundle_price
    if active_purchase_type == 'subscription'
      assign primary_price_cents = primary_price_cents | plus: first_subscription_price
    else
      assign primary_price_cents = primary_price_cents | plus: first_bundle_price
    endif
  endif
  if second_missing
    assign bundle_price_cents = bundle_price_cents | plus: second_bundle_price
    if active_purchase_type == 'subscription'
      assign primary_price_cents = primary_price_cents | plus: second_subscription_price
    else
      assign primary_price_cents = primary_price_cents | plus: second_bundle_price
    endif
  endif

  assign saving_cents = 0
  if first_is_add_on
    assign saving_cents = first_variant.price | minus: first_bundle_price
  elsif second_is_add_on
    assign saving_cents = second_variant.price | minus: second_bundle_price
  endif
  assign saving_money = saving_cents | money
  assign saving_callout_text = saving_callout_template | replace: '$X.XX', saving_money
  assign primary_price_money = primary_price_cents | money
  assign button_text = button_label
  if first_missing or second_missing
    assign button_text = button_label | append: ' - ' | append: primary_price_money
  endif

  assign show_one_time_btn = false
  if first_missing or second_missing
    if cart_has_subscription
      assign show_one_time_btn = true
    elsif cart.item_count == 0
      assign show_one_time_btn = true
    endif
  endif

  assign show_subscription_note = false
  if cart_has_subscription
    if first_missing or second_missing
      assign show_subscription_note = true
    endif
  endif
-%}

{%- capture first_selling_plan_attrs -%}
  {%- for target_qty in (1..5) -%}
    {%- liquid
      assign target_plan_id = ''
      assign fallback_plan_id = ''
      assign plan_filter = target_qty | append: '-pack'
      assign frequency_filter = target_qty | append: 'mo'
      assign frequency_filter_spaced = target_qty | append: ' mo'
      assign frequency_filter_dash = target_qty | append: '-mo'
      assign frequency_filter_month = target_qty | append: ' month'
      assign frequency_filter_every = 'every ' | append: target_qty
      assign frequency_filter_appstle = target_qty | append: 'month'

      for selling_plan_group in first_product.selling_plan_groups
        assign group_name_lower = selling_plan_group.name | downcase
        if group_name_lower contains plan_filter
          assign first_plan = selling_plan_group.selling_plans | first
          if first_plan and fallback_plan_id == blank
            assign fallback_plan_id = first_plan.id
          endif

          for selling_plan in selling_plan_group.selling_plans
            assign frequency_source = selling_plan_group.name | append: ' ' | append: selling_plan.name | downcase
            for option in selling_plan.options
              assign frequency_source = frequency_source | append: ' ' | append: option.value | downcase
            endfor

            if frequency_source contains frequency_filter or frequency_source contains frequency_filter_spaced or frequency_source contains frequency_filter_dash or frequency_source contains frequency_filter_month or frequency_source contains frequency_filter_every or frequency_source contains frequency_filter_appstle
              assign target_plan_id = selling_plan.id
              break
            endif
          endfor

          if target_plan_id != blank
            break
          endif
        endif
      endfor

      if target_plan_id == blank
        assign target_plan_id = fallback_plan_id
      endif
    -%}
    {%- if target_plan_id != blank -%}
      data-first-selling-plan-qty{{ target_qty }}="{{ target_plan_id }}"
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- capture second_selling_plan_attrs -%}
  {%- for target_qty in (1..5) -%}
    {%- liquid
      assign target_plan_id = ''
      assign fallback_plan_id = ''
      assign plan_filter = target_qty | append: '-pack'
      assign frequency_filter = target_qty | append: 'mo'
      assign frequency_filter_spaced = target_qty | append: ' mo'
      assign frequency_filter_dash = target_qty | append: '-mo'
      assign frequency_filter_month = target_qty | append: ' month'
      assign frequency_filter_every = 'every ' | append: target_qty
      assign frequency_filter_appstle = target_qty | append: 'month'

      for selling_plan_group in second_product.selling_plan_groups
        assign group_name_lower = selling_plan_group.name | downcase
        if group_name_lower contains plan_filter
          assign first_plan = selling_plan_group.selling_plans | first
          if first_plan and fallback_plan_id == blank
            assign fallback_plan_id = first_plan.id
          endif

          for selling_plan in selling_plan_group.selling_plans
            assign frequency_source = selling_plan_group.name | append: ' ' | append: selling_plan.name | downcase
            for option in selling_plan.options
              assign frequency_source = frequency_source | append: ' ' | append: option.value | downcase
            endfor

            if frequency_source contains frequency_filter or frequency_source contains frequency_filter_spaced or frequency_source contains frequency_filter_dash or frequency_source contains frequency_filter_month or frequency_source contains frequency_filter_every or frequency_source contains frequency_filter_appstle
              assign target_plan_id = selling_plan.id
              break
            endif
          endfor

          if target_plan_id != blank
            break
          endif
        endif
      endfor

      if target_plan_id == blank
        assign target_plan_id = fallback_plan_id
      endif
    -%}
    {%- if target_plan_id != blank -%}
      data-second-selling-plan-qty{{ target_qty }}="{{ target_plan_id }}"
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{{ 'bloomli-bundle-promo.css' | asset_url | stylesheet_tag }}

<section
  class="bloomli-bundle bloomli-section color-{{ section.settings.color_scheme }} gradient"
  style="
    --bloomli-padding-top: {{ section.settings.padding_top }}px;
    --bloomli-padding-bottom: {{ section.settings.padding_bottom }}px;
    --bloomli-card-background: {{ section.settings.product_card_background }};
  "
>
  <div class="bloomli-bundle__inner">
    <div class="bloomli-bundle__content">
      {%- if section.settings.heading != blank -%}
        <h2 class="bloomli-bundle__heading">
          {{ section.settings.heading | escape | newline_to_br }}
        </h2>
      {%- endif -%}

      {%- if section.settings.body_text != blank -%}
        <p class="bloomli-bundle__copy">
          {{ section.settings.body_text | escape }}
        </p>
      {%- endif -%}
    </div>

    <div class="bloomli-bundle__visual">
      {%- if section.settings.badge_text != blank -%}
        <p class="bloomli-bundle__badge">{{ section.settings.badge_text | escape }}</p>
      {%- endif -%}

      <div class="bloomli-bundle__products">
        <article class="bloomli-bundle__card">
          {%- if first_step != blank -%}
            <p class="bloomli-bundle__step">{{ first_step | escape }}</p>
          {%- endif -%}

          <div class="bloomli-bundle__image-wrap">
            {%- if first_image != blank -%}
              {{
                first_image
                | image_url: width: 640
                | image_tag:
                  class: 'bloomli-bundle__product-image',
                  widths: '180, 260, 360, 520, 640',
                  sizes: '(max-width: 749px) 36vw, 220px',
                  loading: 'lazy',
                  decoding: 'async',
                  alt: first_image.alt | default: first_title
              }}
            {%- elsif first_product.featured_image != blank -%}
              {{
                first_product.featured_image
                | image_url: width: 640
                | image_tag:
                  class: 'bloomli-bundle__product-image',
                  widths: '180, 260, 360, 520, 640',
                  sizes: '(max-width: 749px) 36vw, 220px',
                  loading: 'lazy',
                  decoding: 'async',
                  alt: first_product.featured_image.alt | default: first_title
              }}
            {%- endif -%}
          </div>

          {%- if first_title != blank -%}
            <h3 class="bloomli-bundle__product-title">{{ first_title | escape }}</h3>
          {%- endif -%}
          {%- if first_description != blank -%}
            <p class="bloomli-bundle__product-description">{{ first_description | escape }}</p>
          {%- endif -%}
        </article>

        <span class="bloomli-bundle__plus" aria-hidden="true">+</span>

        <article class="bloomli-bundle__card">
          {%- if second_step != blank -%}
            <p class="bloomli-bundle__step">{{ second_step | escape }}</p>
          {%- endif -%}

          <div class="bloomli-bundle__image-wrap">
            {%- if second_image != blank -%}
              {{
                second_image
                | image_url: width: 640
                | image_tag:
                  class: 'bloomli-bundle__product-image',
                  widths: '180, 260, 360, 520, 640',
                  sizes: '(max-width: 749px) 36vw, 220px',
                  loading: 'lazy',
                  decoding: 'async',
                  alt: second_image.alt | default: second_title
              }}
            {%- elsif second_product.featured_image != blank -%}
              {{
                second_product.featured_image
                | image_url: width: 640
                | image_tag:
                  class: 'bloomli-bundle__product-image',
                  widths: '180, 260, 360, 520, 640',
                  sizes: '(max-width: 749px) 36vw, 220px',
                  loading: 'lazy',
                  decoding: 'async',
                  alt: second_product.featured_image.alt | default: second_title
              }}
            {%- endif -%}
          </div>

          {%- if second_title != blank -%}
            <h3 class="bloomli-bundle__product-title">{{ second_title | escape }}</h3>
          {%- endif -%}
          {%- if second_description != blank -%}
            <p class="bloomli-bundle__product-description">{{ second_description | escape }}</p>
          {%- endif -%}
        </article>
      </div>

      <div class="bloomli-bundle__cta-wrap">
        <button
          type="button"
          class="button button--primary bloomli-bundle__button"
          data-bloomli-bundle-promo-button
          data-first-variant-id="{{ first_variant.id }}"
          data-second-variant-id="{{ second_variant.id }}"
          data-first-price-cents="{{ first_variant.price | default: 0 }}"
          data-second-price-cents="{{ second_variant.price | default: 0 }}"
          data-first-subscription-price-cents="{{ first_subscription_price | default: 0 }}"
          data-second-subscription-price-cents="{{ second_subscription_price | default: 0 }}"
          data-first-bundle-price-cents="{{ first_bundle_price | default: 0 }}"
          data-second-bundle-price-cents="{{ second_bundle_price | default: 0 }}"
          data-first-is-add-on="{{ first_is_add_on }}"
          data-second-is-add-on="{{ second_is_add_on }}"
          data-first-in-cart="{{ first_in_cart }}"
          data-second-in-cart="{{ second_in_cart }}"
          data-active-purchase-type="{{ active_purchase_type }}"
          data-cart-has-subscription="{{ cart_has_subscription }}"
          data-subscription-plan-qty="1"
          data-add-both-label="{{ add_both_label | escape }}"
          data-add-missing-label="{{ add_missing_label | escape }}"
          data-view-routine-label="{{ view_routine_label | escape }}"
          data-money-format="{{ shop.money_format | escape }}"
          {{ first_selling_plan_attrs }}
          {{ second_selling_plan_attrs }}
          {% if first_variant == blank and second_variant == blank %}disabled{% endif %}
        >
          <span data-bundle-btn-label>{{ button_text | escape }}</span>
          <span class="loading__spinner hidden" aria-hidden="true">
            {{- 'loading-spinner.svg' | inline_asset_content -}}
          </span>
        </button>
        <p
          class="bloomli-bundle__dynamic-saving"
          data-bloomli-bundle-saving-callout
          data-saving-template="{{ saving_callout_template | escape }}"
          {% if saving_cents <= 0 or first_in_cart and second_in_cart %}hidden{% endif %}
        >
          {{ saving_callout_text | escape }}
        </p>
        <button
          type="button"
          class="bloomli-bundle__one-time"
          data-bloomli-bundle-one-time-button
          data-label="{{ one_time_label | escape }}"
          {% unless show_one_time_btn %}hidden{% endunless %}
        >
          {{ one_time_label | escape }} - {{ bundle_price_cents | money }}
        </button>
        <div
          class="bloomli-bundle__subscription-note"
          data-bloomli-bundle-subscription-note
          {% unless show_subscription_note %}hidden{% endunless %}
        >
          {{ subscription_note_text | escape }}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  (() => {
    const section = document.currentScript.closest('.shopify-section');
    const button = section && section.querySelector('[data-bloomli-bundle-promo-button]');
    if (!button || button.dataset.initialized === 'true') return;
    const oneTimeButton = section.querySelector('[data-bloomli-bundle-one-time-button]');
    const savingCallout = section.querySelector('[data-bloomli-bundle-saving-callout]');
    const subscriptionNote = section.querySelector('[data-bloomli-bundle-subscription-note]');
    button.dataset.initialized = 'true';
    let syncTimer;

    const getSections = () => {
      const sections = ['cart-icon-bubble'];
      if (document.getElementById('CartDrawer')) sections.push('cart-drawer');
      return sections;
    };

    const openCartDrawer = () => {
      const cartDrawer = document.querySelector('cart-drawer');
      if (cartDrawer && typeof cartDrawer.open === 'function') {
        cartDrawer.open(button);
        return;
      }
      const cartLink = document.getElementById('cart-icon-bubble');
      if (cartLink) cartLink.click();
    };

    const formatMoney = (cents) => {
      if (window.Shopify && typeof Shopify.formatMoney === 'function') {
        return Shopify.formatMoney(cents, button.dataset.moneyFormat);
      }
      return `$${(cents / 100).toFixed(2)}`;
    };

    const getCartPurchaseState = (cart) => {
      let hasSubscription = false;
      let hasOneTime = false;

      cart.items.forEach((item) => {
        if (item.selling_plan_allocation) {
          hasSubscription = true;
        } else {
          hasOneTime = true;
        }
      });

      const type = (!cart.items.length || hasSubscription) ? 'subscription' : 'one_time';
      return { type, planQty: 1, hasSubscription };
    };

    const getMissingItems = () => {
      const firstVariantId = parseInt(button.dataset.firstVariantId, 10);
      const secondVariantId = parseInt(button.dataset.secondVariantId, 10);
      const items = [];

      if (button.dataset.firstInCart !== 'true' && firstVariantId) {
        items.push({
          key: 'first',
          id: firstVariantId,
          price: parseInt(button.dataset.firstPriceCents, 10) || 0,
          subscriptionPrice: parseInt(button.dataset.firstSubscriptionPriceCents, 10) || 0,
          bundlePrice: parseInt(button.dataset.firstBundlePriceCents, 10) || 0,
        });
      }

      if (button.dataset.secondInCart !== 'true' && secondVariantId) {
        items.push({
          key: 'second',
          id: secondVariantId,
          price: parseInt(button.dataset.secondPriceCents, 10) || 0,
          subscriptionPrice: parseInt(button.dataset.secondSubscriptionPriceCents, 10) || 0,
          bundlePrice: parseInt(button.dataset.secondBundlePriceCents, 10) || 0,
        });
      }

      return items;
    };

    const getSellingPlanId = (key) => {
      return button.dataset[`${key}SellingPlanQty1`] || button.dataset[`${key}SellingPlanQty-1`] || '';
    };

    const setButtonState = (firstInCart, secondInCart, purchaseType, planQty, hasSubscription) => {
      button.dataset.firstInCart = firstInCart ? 'true' : 'false';
      button.dataset.secondInCart = secondInCart ? 'true' : 'false';
      button.dataset.activePurchaseType = purchaseType || 'subscription';
      button.dataset.cartHasSubscription = hasSubscription ? 'true' : 'false';
      button.dataset.subscriptionPlanQty = '1';

      const missingItems = getMissingItems();
      const bundleTotalPrice = missingItems.reduce((sum, item) => sum + item.bundlePrice, 0);
      const primaryPrice = missingItems.reduce((sum, item) => {
        return sum + (button.dataset.activePurchaseType === 'subscription' ? item.subscriptionPrice : item.bundlePrice);
      }, 0);

      const firstIsAddOn = button.dataset.firstIsAddOn === 'true';
      const secondIsAddOn = button.dataset.secondIsAddOn === 'true';
      let saving = 0;
      if (firstIsAddOn) {
        saving = Math.max(
          (parseInt(button.dataset.firstPriceCents, 10) || 0) - (parseInt(button.dataset.firstBundlePriceCents, 10) || 0),
          0
        );
      } else if (secondIsAddOn) {
        saving = Math.max(
          (parseInt(button.dataset.secondPriceCents, 10) || 0) - (parseInt(button.dataset.secondBundlePriceCents, 10) || 0),
          0
        );
      }

      const btnLabel = button.querySelector('[data-bundle-btn-label]');
      const setText = (text) => { if (btnLabel) btnLabel.textContent = text; else button.textContent = text; };

      if (firstInCart && secondInCart) {
        setText(button.dataset.viewRoutineLabel || 'View My Ritual');
        if (savingCallout) savingCallout.hidden = true;
        if (oneTimeButton) oneTimeButton.hidden = true;
        if (subscriptionNote) subscriptionNote.hidden = true;
      } else if (firstInCart || secondInCart) {
        setText(`${button.dataset.addMissingLabel || 'Complete My Ritual'} - ${formatMoney(primaryPrice)}`);
      } else {
        setText(`${button.dataset.addBothLabel || 'Start My Ritual'} - ${formatMoney(primaryPrice)}`);
      }

      if (missingItems.length) {
        if (savingCallout) {
          const template = savingCallout.dataset.savingTemplate || "You're saving $X.XX with Pair & Save";
          savingCallout.textContent = template.replace('$X.XX', formatMoney(saving));
          savingCallout.hidden = saving <= 0;
        }
        if (oneTimeButton) {
          oneTimeButton.textContent = `${oneTimeButton.dataset.label || 'One Time Purchase'} - ${formatMoney(bundleTotalPrice)}`;
          oneTimeButton.hidden = purchaseType === 'one_time';
        }
        if (subscriptionNote) {
          subscriptionNote.hidden = !hasSubscription;
        }
      }
    };

    const syncButtonFromCart = () => {
      const firstVariantId = parseInt(button.dataset.firstVariantId, 10);
      const secondVariantId = parseInt(button.dataset.secondVariantId, 10);
      if (!firstVariantId && !secondVariantId) return;

      fetch(`${routes.cart_url}.js`)
        .then((response) => response.json())
        .then((cart) => {
          const firstInCart = cart.items.some((item) => item.variant_id === firstVariantId);
          const secondInCart = cart.items.some((item) => item.variant_id === secondVariantId);
          const purchaseState = getCartPurchaseState(cart);
          setButtonState(firstInCart, secondInCart, purchaseState.type, purchaseState.planQty, purchaseState.hasSubscription);
        })
        .catch(() => {});
    };

    const scheduleCartSync = () => {
      clearTimeout(syncTimer);
      syncTimer = setTimeout(syncButtonFromCart, 900);
    };

    if (window.PUB_SUB_EVENTS && typeof subscribe === 'function') {
      subscribe(PUB_SUB_EVENTS.cartUpdate, scheduleCartSync);
    }

    document.addEventListener('click', (event) => {
      if (event.target.closest('cart-drawer')) scheduleCartSync();
    });
    document.addEventListener('change', (event) => {
      if (event.target.closest('cart-drawer')) scheduleCartSync();
    });

    const setLoading = (loading) => {
      const spinner = button.querySelector('.loading__spinner');
      button.disabled = loading;
      button.classList.toggle('is-loading', loading);
      if (spinner) spinner.classList.toggle('hidden', !loading);
      if (oneTimeButton) oneTimeButton.disabled = loading;
    };

    const addMissingItems = (forceOneTime) => {
      const missingItems = getMissingItems();
      const useSubscription = !forceOneTime && button.dataset.activePurchaseType === 'subscription';
      const items = missingItems.map((item) => {
        const payload = { id: item.id, quantity: 1 };
        const sellingPlanId = useSubscription ? getSellingPlanId(item.key) : '';
        if (sellingPlanId) payload.selling_plan = sellingPlanId;
        return payload;
      });

      if (!items.length) {
        openCartDrawer();
        return;
      }

      setLoading(true);

      fetch(routes.cart_add_url, {
        ...fetchConfig(),
        body: JSON.stringify({
          items,
          sections: getSections(),
          sections_url: window.location.pathname,
        }),
      })
        .then((response) => response.json())
        .then((parsedState) => {
          if (parsedState.status || parsedState.errors) {
            setLoading(false);
            return;
          }

          const cartDrawer = document.querySelector('cart-drawer');
          if (cartDrawer && typeof cartDrawer.renderContents === 'function' && parsedState.sections) {
            cartDrawer.renderContents(parsedState);
            cartDrawer.classList.remove('is-empty');
          } else {
            openCartDrawer();
          }
          const firstVariantId = parseInt(button.dataset.firstVariantId, 10);
          const secondVariantId = parseInt(button.dataset.secondVariantId, 10);
          const firstInCart = button.dataset.firstInCart === 'true' || items.some((item) => item.id === firstVariantId);
          const secondInCart = button.dataset.secondInCart === 'true' || items.some((item) => item.id === secondVariantId);
          setButtonState(firstInCart, secondInCart, button.dataset.activePurchaseType, button.dataset.subscriptionPlanQty);
          if (window.PUB_SUB_EVENTS && typeof publish === 'function') {
            publish(PUB_SUB_EVENTS.cartUpdate, {
              source: 'bloomli-bundle-promo',
              cartData: parsedState,
            });
          }
          scheduleCartSync();
          setLoading(false);
        })
        .catch(() => {
          setLoading(false);
        });
    };

    button.addEventListener('click', () => addMissingItems(false));
    if (oneTimeButton) oneTimeButton.addEventListener('click', () => addMissingItems(true));

    setButtonState(
      button.dataset.firstInCart === 'true',
      button.dataset.secondInCart === 'true',
      button.dataset.activePurchaseType,
      button.dataset.subscriptionPlanQty,
      button.dataset.cartHasSubscription === 'true'
    );
  })();
</script>

{% schema %}
{
  "name": "Bloomli \u2014 Bundle Promo",
  "tag": "div",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Scheme",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "product_card_background",
      "label": "Product card background",
      "default": "#FFFFFF"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Pair & Save"
    },
    {
      "type": "textarea",
      "id": "body_text",
      "label": "Body text",
      "default": "Support your hair from within, then nourish your scalp and strands from the outside \u2014 a simple two-step ritual for fuller-looking, healthier-feeling hair."
    },
    {
      "type": "text",
      "id": "badge_text",
      "label": "Badge text",
      "default": "15% off oil"
    },
    {
      "type": "header",
      "content": "Product card 1"
    },
    {
      "type": "image_picker",
      "id": "product_1_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "product_1_step",
      "label": "Step label",
      "default": "Step 01"
    },
    {
      "type": "text",
      "id": "product_1_title",
      "label": "Title",
      "default": "Hair Gummies"
    },
    {
      "type": "text",
      "id": "product_1_description",
      "label": "Description",
      "default": "Daily beauty nutrients"
    },
    {
      "type": "header",
      "content": "Product card 2"
    },
    {
      "type": "image_picker",
      "id": "product_2_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "product_2_step",
      "label": "Step label",
      "default": "Step 02"
    },
    {
      "type": "text",
      "id": "product_2_title",
      "label": "Title",
      "default": "Hair Oil"
    },
    {
      "type": "text",
      "id": "product_2_description",
      "label": "Description",
      "default": "Scalp & strand nourishment"
    },
    {
      "type": "text",
      "id": "add_both_label",
      "label": "Add both button label",
      "placeholder": "Start My Ritual",
      "default": "Start My Ritual"
    },
    {
      "type": "text",
      "id": "add_missing_label",
      "label": "Add one product button label",
      "placeholder": "Complete My Ritual",
      "default": "Complete My Ritual"
    },
    {
      "type": "text",
      "id": "view_routine_label",
      "label": "View routine button label",
      "placeholder": "View My Ritual",
      "default": "View My Ritual"
    },
    {
      "type": "text",
      "id": "saving_callout_text",
      "label": "Saving callout text",
      "default": "You're saving $X.XX with Pair & Save",
      "info": "Use $X.XX for the calculated saving."
    },
    {
      "type": "text",
      "id": "one_time_label_text",
      "label": "One-time label text",
      "default": "One Time Purchase"
    },
    {
      "type": "text",
      "id": "subscription_note_text",
      "label": "Subscription note text",
      "default": "Matched to your subscription, cancel anytime."
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top (px)",
      "min": 32,
      "max": 160,
      "step": 8,
      "default": 96
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom (px)",
      "min": 32,
      "max": 160,
      "step": 8,
      "default": 96
    }
  ],
  "presets": [
    {
      "name": "Bloomli \u2014 Bundle Promo"
    }
  ]
}
{% endschema %}
